<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel placardpdf print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c4" data-pageid="{$pageid}"	{$cell_top_c4}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
									
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}{BEGIN grid_block}
<div data-vcolumns=1 class="r-fluid r-grid-vertical bs-grid-vertical" data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" >
{BEGIN grid_row}
	{BEGIN grid_record}
	{BEGIN grid_vrecord}
	<div class="r-record-body {$rowclass}" {$rowattrs} {$rowstyle} data-record-id="{$recId}">
		<div class="panel panel-default" {$recordattrs}>
											{BEGIN grid_recordheader}
			<div class="panel-heading">
					
	
				<table data-width="2" class="header-table">
				 
										<tr>
						 
							<td 
	class=" r-ori-vert			"
	colspan="2"		 
	data-cellId="grid_cell_top" data-pageid="{$pageid}" data-record-id="{$recId}">
</td>
											</tr>
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
													</table>

					</div>
		{END grid_recordheader}
									
			<div class="panel-body">					
					
	
				<table data-width="2" >
				 
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$id_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN id_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id" data-fieldname="id">
	{$label placardpdf id }	</span>
{END id_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$id_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id" data-fieldname="id" data-default-width >
{$id_value}
</span>
{END id_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$count_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label1" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN count_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="count" data-fieldname="count">
	{$label placardpdf count }	</span>
{END count_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$count_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN count_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="count" data-fieldname="count" data-default-width >
{$count_value}
</span>
{END count_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$placard_to_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label2" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN placard_to_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="placard_to" data-fieldname="placard_to">
	{$label placardpdf placard_to }	</span>
{END placard_to_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$placard_to_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN placard_to_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="placard_to" data-fieldname="placard_to" data-default-width >
{$placard_to_value}
</span>
{END placard_to_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$meeting_date_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label3" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN meeting_date_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="meeting_date" data-fieldname="meeting_date">
	{$label placardpdf meeting_date }	</span>
{END meeting_date_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$meeting_date_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN meeting_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="meeting_date" data-fieldname="meeting_date" data-default-width >
{$meeting_date_value}
</span>
{END meeting_date_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$meeting_time_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label4" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN meeting_time_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="meeting_time" data-fieldname="meeting_time">
	{$label placardpdf meeting_time }	</span>
{END meeting_time_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$meeting_time_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN meeting_time_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="meeting_time" data-fieldname="meeting_time" data-default-width >
{$meeting_time_value}
</span>
{END meeting_time_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$name_prefix_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label5" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN name_prefix_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="name_prefix" data-fieldname="name_prefix">
	{$label placardpdf name_prefix }	</span>
{END name_prefix_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$name_prefix_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN name_prefix_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="name_prefix" data-fieldname="name_prefix" data-default-width >
{$name_prefix_value}
</span>
{END name_prefix_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$name_last_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label6" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN name_last_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="name_last" data-fieldname="name_last">
	{$label placardpdf name_last }	</span>
{END name_last_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$name_last_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN name_last_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="name_last" data-fieldname="name_last" data-default-width >
{$name_last_value}
</span>
{END name_last_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$position_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label7" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN position_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="position" data-fieldname="position">
	{$label placardpdf position }	</span>
{END position_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$position_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN position_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="position" data-fieldname="position" data-default-width >
{$position_value}
</span>
{END position_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$owner_id_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label8" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN owner_id_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="owner_id" data-fieldname="owner_id">
	{$label placardpdf owner_id }	</span>
{END owner_id_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$owner_id_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN owner_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="owner_id" data-fieldname="owner_id" data-default-width >
{$owner_id_value}
</span>
{END owner_id_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$publish_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label9" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN publish_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="publish" data-fieldname="publish">
	{$label placardpdf publish }	</span>
{END publish_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$publish_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN publish_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="publish" data-fieldname="publish" data-default-width >
{$publish_value}
</span>
{END publish_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$tdate_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label10" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN tdate_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tdate" data-fieldname="tdate">
	{$label placardpdf tdate }	</span>
{END tdate_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$tdate_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN tdate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tdate" data-fieldname="tdate" data-default-width >
{$tdate_value}
</span>
{END tdate_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$companyname_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label11" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN companyname_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="companyname" data-fieldname="companyname">
	{$label placardpdf companyname }	</span>
{END companyname_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$companyname_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN companyname_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="companyname" data-fieldname="companyname" data-default-width >
{$companyname_value}
</span>
{END companyname_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$placard_date_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label12" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN placard_date_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="placard_date" data-fieldname="placard_date">
	{$label placardpdf placard_date }	</span>
{END placard_date_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$placard_date_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN placard_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="placard_date" data-fieldname="placard_date" data-default-width >
{$placard_date_value}
</span>
{END placard_date_fieldcolumn}</td>
											</tr>
									 
													</table>

				
			</div>				
									
		</div>
</div>
		

 
			{END grid_vrecord}
	{END grid_record}
{END grid_row}
</div>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
