<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="250px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="{mlang_message EXPAND}" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="{mlang_message COLLAPSE}" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="{mlang_message SHOW_MENU}" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							{mlang_message LOGIN}			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		{mlang_message USERINFO}		
		</a>
	</li>
{END logoutbutton}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		{mlang_message LOG_OUT}		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		{mlang_message AA_ADMINAREA}		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		{mlang_message CHANGE_PASSWORD}		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="full">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel placard_admin edit}</h2>
		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
{BEGIN view_page_button}
		<a class="btn btn-sm btn-default" href="placard_admin_view.php?{$editlink}" {$view_page_button_attrs}>{mlang_message VIEW}</a>
{END view_page_button}
</div>
</div>
			{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN subject_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_subject}  r-vertical-field" 
	data-signal-error-for="subject{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="subject" data-fieldname="subject" >

	<label class="r-edit-label control-label" for="{$labelfor_subject}">
		{BEGIN subject_label}{$label placard_admin subject }{END subject_label}
	</label>
	<div class="r-edit-field">
		{$subject_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="subject">
		<div class="text-muted" >
		{$tooltip placard_admin subject }		</div>
	</div>
</div>


{END subject_fieldblock}
											
{BEGIN content_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_content}  r-vertical-field" 
	data-signal-error-for="content{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="content" data-fieldname="content" >

	<label class="r-edit-label control-label" for="{$labelfor_content}">
		{BEGIN content_label}{$label placard_admin content }{END content_label}
	</label>
	<div class="r-edit-field">
		{$content_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="content">
		<div class="text-muted" >
		{$tooltip placard_admin content }		</div>
	</div>
</div>


{END content_fieldblock}
											
{BEGIN companyname_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_companyname}  r-vertical-field" 
	data-signal-error-for="companyname{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="companyname" data-fieldname="companyname" >

	<label class="r-edit-label control-label" for="{$labelfor_companyname}">
		{BEGIN companyname_label}{$label placard_admin companyname }{END companyname_label}
	</label>
	<div class="r-edit-field">
		{$companyname_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="companyname">
		<div class="text-muted" >
		{$tooltip placard_admin companyname }		</div>
	</div>
</div>


{END companyname_fieldblock}
											
{BEGIN count_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_count}  r-vertical-field" 
	data-signal-error-for="count{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="count" data-fieldname="count" >

	<label class="r-edit-label control-label" for="{$labelfor_count}">
		{BEGIN count_label}{$label placard_admin count }{END count_label}
	</label>
	<div class="r-edit-field">
		{$count_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="count">
		<div class="text-muted" >
		{$tooltip placard_admin count }		</div>
	</div>
</div>


{END count_fieldblock}
											
{BEGIN placard_to_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_placard_to}  r-vertical-field" 
	data-signal-error-for="placard_to{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="placard_to" data-fieldname="placard_to" >

	<label class="r-edit-label control-label" for="{$labelfor_placard_to}">
		{BEGIN placard_to_label}{$label placard_admin placard_to }{END placard_to_label}
	</label>
	<div class="r-edit-field">
		{$placard_to_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="placard_to">
		<div class="text-muted" >
		{$tooltip placard_admin placard_to }		</div>
	</div>
</div>


{END placard_to_fieldblock}
											
{BEGIN placard_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_placard_date}  r-vertical-field" 
	data-signal-error-for="placard_date{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="placard_date" data-fieldname="placard_date" >

	<label class="r-edit-label control-label" for="{$labelfor_placard_date}">
		{BEGIN placard_date_label}{$label placard_admin placard_date }{END placard_date_label}
	</label>
	<div class="r-edit-field">
		{$placard_date_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="placard_date">
		<div class="text-muted" >
		{$tooltip placard_admin placard_date }		</div>
	</div>
</div>


{END placard_date_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
																

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN name_prefix_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_name_prefix}  r-vertical-field" 
	data-signal-error-for="name_prefix{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="name_prefix" data-fieldname="name_prefix" >

	<label class="r-edit-label control-label" for="{$labelfor_name_prefix}">
		{BEGIN name_prefix_label}{$label placard_admin name_prefix }{END name_prefix_label}
	</label>
	<div class="r-edit-field">
		{$name_prefix_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="name_prefix">
		<div class="text-muted" >
		{$tooltip placard_admin name_prefix }		</div>
	</div>
</div>


{END name_prefix_fieldblock}
											
{BEGIN name_last_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_name_last}  r-vertical-field" 
	data-signal-error-for="name_last{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="name_last" data-fieldname="name_last" >

	<label class="r-edit-label control-label" for="{$labelfor_name_last}">
		{BEGIN name_last_label}{$label placard_admin name_last }{END name_last_label}
	</label>
	<div class="r-edit-field">
		{$name_last_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="name_last">
		<div class="text-muted" >
		{$tooltip placard_admin name_last }		</div>
	</div>
</div>


{END name_last_fieldblock}
											
{BEGIN position_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_position}  r-vertical-field" 
	data-signal-error-for="position{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="position" data-fieldname="position" >

	<label class="r-edit-label control-label" for="{$labelfor_position}">
		{BEGIN position_label}{$label placard_admin position }{END position_label}
	</label>
	<div class="r-edit-field">
		{$position_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="position">
		<div class="text-muted" >
		{$tooltip placard_admin position }		</div>
	</div>
</div>


{END position_fieldblock}
											
{BEGIN publish_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_publish}  r-vertical-field" 
	data-signal-error-for="publish{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="publish" data-fieldname="publish" >

	<label class="r-edit-label control-label" for="{$labelfor_publish}">
		{BEGIN publish_label}{$label placard_admin publish }{END publish_label}
	</label>
	<div class="r-edit-field">
		{$publish_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="publish">
		<div class="text-muted" >
		{$tooltip placard_admin publish }		</div>
	</div>
</div>


{END publish_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=""
	
			
	ocolspan="2"		data-cellId="grid_c4" data-pageid="{$pageid}" data-page="placard_admin_edit"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN meeting_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_meeting_date}  r-vertical-field" 
	data-signal-error-for="meeting_date{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="meeting_date" data-fieldname="meeting_date" >

	<label class="r-edit-label control-label" for="{$labelfor_meeting_date}">
		{BEGIN meeting_date_label}{$label placard_admin meeting_date }{END meeting_date_label}
	</label>
	<div class="r-edit-field">
		{$meeting_date_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="meeting_date">
		<div class="text-muted" >
		{$tooltip placard_admin meeting_date }		</div>
	</div>
</div>


{END meeting_date_fieldblock}
											
{BEGIN meeting_time_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_meeting_time}  r-vertical-field" 
	data-signal-error-for="meeting_time{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="meeting_time" data-fieldname="meeting_time" >

	<label class="r-edit-label control-label" for="{$labelfor_meeting_time}">
		{BEGIN meeting_time_label}{$label placard_admin meeting_time }{END meeting_time_label}
	</label>
	<div class="r-edit-field">
		{$meeting_time_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="meeting_time">
		<div class="text-muted" >
		{$tooltip placard_admin meeting_time }		</div>
	</div>
</div>


{END meeting_time_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
				data-fullwidth
		
	ocolspan="2"		data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN uuid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_uuid}  r-vertical-field" 
	data-signal-error-for="uuid{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="uuid" data-fieldname="uuid" >

	<label class="r-edit-label control-label" for="{$labelfor_uuid}">
		{BEGIN uuid_label}{$label placard_admin uuid }{END uuid_label}
	</label>
	<div class="r-edit-field">
		{$uuid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="uuid">
		<div class="text-muted" >
		{$tooltip placard_admin uuid }		</div>
	</div>
</div>


{END uuid_fieldblock}
											
{BEGIN image1_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_image1}  r-vertical-field" 
	data-signal-error-for="image1{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="image1" data-fieldname="image1" >

	<label class="r-edit-label control-label" for="{$labelfor_image1}">
		{BEGIN image1_label}{$label placard_admin image1 }{END image1_label}
	</label>
	<div class="r-edit-field">
		{$image1_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="image1">
		<div class="text-muted" >
		{$tooltip placard_admin image1 }		</div>
	</div>
</div>


{END image1_fieldblock}
											
{BEGIN create_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_create_date}  r-vertical-field" 
	data-signal-error-for="create_date{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="create_date" data-fieldname="create_date" >

	<label class="r-edit-label control-label" for="{$labelfor_create_date}">
		{BEGIN create_date_label}{$label placard_admin create_date }{END create_date_label}
	</label>
	<div class="r-edit-field">
		{$create_date_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="create_date">
		<div class="text-muted" >
		{$tooltip placard_admin create_date }		</div>
	</div>
</div>


{END create_date_fieldblock}
											
{BEGIN pdf_file1_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pdf_file1}  r-vertical-field" 
	data-signal-error-for="pdf_file1{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="pdf_file1" data-fieldname="pdf_file1" >

	<label class="r-edit-label control-label" for="{$labelfor_pdf_file1}">
		{BEGIN pdf_file1_label}{$label placard_admin pdf_file1 }{END pdf_file1_label}
	</label>
	<div class="r-edit-field">
		{$pdf_file1_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="pdf_file1">
		<div class="text-muted" >
		{$tooltip placard_admin pdf_file1 }		</div>
	</div>
</div>


{END pdf_file1_fieldblock}
											
{BEGIN meeting_place_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_meeting_place}  r-vertical-field" 
	data-signal-error-for="meeting_place{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="meeting_place" data-fieldname="meeting_place" >

	<label class="r-edit-label control-label" for="{$labelfor_meeting_place}">
		{BEGIN meeting_place_label}{$label placard_admin meeting_place }{END meeting_place_label}
	</label>
	<div class="r-edit-field">
		{$meeting_place_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="meeting_place">
		<div class="text-muted" >
		{$tooltip placard_admin meeting_place }		</div>
	</div>
</div>


{END meeting_place_fieldblock}
											
{BEGIN pdf_image_url_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pdf_image_url}  r-vertical-field" 
	data-signal-error-for="pdf_image_url{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="pdf_image_url" data-fieldname="pdf_image_url" >

	<label class="r-edit-label control-label" for="{$labelfor_pdf_image_url}">
		{BEGIN pdf_image_url_label}{$label placard_admin pdf_image_url }{END pdf_image_url_label}
	</label>
	<div class="r-edit-field">
		{$pdf_image_url_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="pdf_image_url">
		<div class="text-muted" >
		{$tooltip placard_admin pdf_image_url }		</div>
	</div>
</div>


{END pdf_image_url_fieldblock}
	
								</td>
			{END cellblock_grid_c}
								</tr>
			</tbody></table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
{END save_edit}
	 
		{BEGIN save_update}
<span data-itemtype="update_records" data-itemid="update_records" {$item_update_records} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
				 
			{$update_records_label}	
			</a>
</span>
{END save_update}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							กลับไปที่รายการ			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							{mlang_message CANCEL}			</a>
</span>
{END close_button}
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	
">
		 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		{mlang_message RESET}		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="placard_admin_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		{mlang_message VIEW}		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
