[data-cellid="grid_c3"][data-page="placardpdf_view"][data-cellid="grid_c3"][data-page="placardpdf_view"][data-cellid="grid_c3"][data-page="placardpdf_view"] {
  padding: 10px;
}
[data-cellid="grid_c"][data-page="placardpdf_view"][data-cellid="grid_c"][data-page="placardpdf_view"][data-cellid="grid_c"][data-page="placardpdf_view"] {
  padding: 10px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c3"][data-page="placardpdf_view"][data-cellid="grid_c3"][data-page="placardpdf_view"][data-cellid="grid_c3"][data-page="placardpdf_view"] {
  border: 1px solid LightGray;
  border-radius: 10px 10px;
    
}

/* Put  your custom CSS code here */

[data-cellid="grid_c"][data-page="placardpdf_view"][data-cellid="grid_c"][data-page="placardpdf_view"][data-cellid="grid_c"][data-page="placardpdf_view"] {
  border: 1px solid LightGray;
  border-radius: 10px 10px;
    
}

