[data-cellid="grid_c3"][data-page="placardpdf_edit"][data-cellid="grid_c3"][data-page="placardpdf_edit"][data-cellid="grid_c3"][data-page="placardpdf_edit"] {
  padding: 10px;
}
[data-cellid="grid_c"][data-page="placardpdf_edit"][data-cellid="grid_c"][data-page="placardpdf_edit"][data-cellid="grid_c"][data-page="placardpdf_edit"] {
  padding: 10px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c3"][data-page="placardpdf_edit"][data-cellid="grid_c3"][data-page="placardpdf_edit"][data-cellid="grid_c3"][data-page="placardpdf_edit"] {
  border: 1px solid LightGray;
  border-radius: 10px 10px;
    
}

/* Put  your custom CSS code here */

[data-cellid="grid_c"][data-page="placardpdf_edit"][data-cellid="grid_c"][data-page="placardpdf_edit"][data-cellid="grid_c"][data-page="placardpdf_edit"] {
  border: 1px solid LightGray;
  border-radius: 10px 10px;
    
}

.form-control {
border-radius: 14px !important ;
}