[data-cellid="grid_c4"][data-page="placard_admin_Create_New"][data-cellid="grid_c4"][data-page="placard_admin_Create_New"][data-cellid="grid_c4"][data-page="placard_admin_Create_New"] {
  white-space: normal;
}
[data-cellid="grid_c5"][data-page="placard_admin_Create_New"][data-cellid="grid_c5"][data-page="placard_admin_Create_New"][data-cellid="grid_c5"][data-page="placard_admin_Create_New"] {
  background-color: #cdf4d5;
  border: solid #000000 1px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c5"][data-page="placard_admin_Create_New"][data-cellid="grid_c5"][data-page="placard_admin_Create_New"][data-cellid="grid_c5"][data-page="placard_admin_Create_New"] {
  color: green;
border-radius: 20px ;
    
}

